<html>
<head>
  <meta charset="utf-8">
  <title>Settle Princeton</title>
  <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  <link href='/static/style.css' rel='stylesheet' />
</head>
<body>
  <h1>Settle Princeton</h1>
  <form class='well' name='signup' method='post'>
    <label>Name</label>
    <input class="span3"name='name' id='name' type='text'>
    <label>Phone #</label>
    <input class='span3' name='phone' id='phone' type='text'>
    <label name='updates?' id='updates?' class="checkbox">  
      <input type='checkbox'> Check if you want updates on near-full games!
    </label>  
    <button type='submit' class='btn'>Submit</button>
  </form>
</body>
</html>

